{% extends "main.html" %}

{% block content %}
<h1>404 - Not found</h1>
<p>
    Unfortunately, the page you are looking for was not detected.
</p>
<p>
    The following are possible reasons:
</p>
<ul>
    <li>the page would be too heavy to create with the energy you poured,</li>
    <li>it weakly couples to ordinary matter so that significantly more luminosity is required, or</li>
    <li>it does not exist in our universe, simply. The URL is incorrect.</li>
</ul>

&nbsp;

<p>
    残念ながら、お探しのページは見つかりませんでした。
</p>
<p>
    直接URLを入力された場合は、スペルミスや大文字・小文字の間違いなどがないかお確かめください。
</p>
{% endblock %}
