{% extends "main.html" %}

{% block content %}
<h1>404 - Not found</h1>
<p>
    Unfortunately, the page you are looking for was not detected by our system.
</p>
<p>
    The following are possible reasons:
</p>
<ul>
    <li>the page might be too massive to be created with the beam energy our system injected,</li>
    <li>it weakly interacts with ordinary matter, requiring significantly more integrated luminosity, or</li>
    <li>it might simply not exist in our universe, i.e., the URL is incorrect.</li>
</ul>

&nbsp;

<p>
    残念ながら、お探しのページは見つかりませんでした。
</p>
<p>
    直接URLを入力された場合は、スペルミスや大文字・小文字の間違いなどがないかお確かめください。
</p>
{% endblock %}
